

body.dark {
  background-color: #121212;
  color: #eaeaea;
}

body.dark .navbar {
  background-color: #1f1f1f !important;
}

body.dark a {
  color: #9ecbff;
}

body.dark .card,
body.dark .jumbotron {
  background-color: #1e1e1e;
  color: #eaeaea;
}


body.dark footer {
  background-color: #1f1f1f;
  color: #eaeaea;
}

body.dark input,
body.dark textarea {
  background-color: #2a2a2a;
  color: #ffffff;
  border-color: #444;
}

body.dark .btn-success {
  background-color: #28a745;
  border-color: #28a745;
}

body.dark hr {
  border-color: #444;
}

body,
.navbar,
.card,
.jumbotron,
footer {
  transition: background-color 0.3s, color 0.3s;
}
.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
}
.card-img-top {
        height: 200px; 
        width: 100%;
        object-fit: cover; 
        object-position: center top;
    }

 .card {
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    .card:hover {
        transform: translateY(-5px); 
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); 
    }

    .card:hover .card-img-top {
        transform: scale(1.1); 
    }
.table, .table tr, .table th, .table td {
    background-color: transparent;
    color: var(--text-color);
    border-color: var(--text-color);
}
  
html, body {
    cursor: url("./pictures/cursor.cur"), auto;
    
}